@page "/index/{User:guid?}"

<PageTitle>Welcome</PageTitle>

<h1>Fuel Station</h1>



<SurveyPrompt Title="@DateTime.Now.ToShortDateString()" />
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Fuel Station</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-info" href=@($"/Employee/{User}")>Employees</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-warning" href=@($"/Customer/{User}")>Customers</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-success" href=@($"/MonthlyLedger/{User}")>Monthly Ledger</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

@code{
        [Parameter] public Guid? User { get; set; }
}
